
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Aguardem!
            </h3>
            </br>
            <div class="row">
                <div class="col-md-4">
                    <img alt="Bootstrap Image Preview" src="https://www.androidfreeware.net/img2/com-zdn35-music-songs-audio-thunderstormsoundsandrainsoundforsleep.jpg" class="rounded-circle" />
                </div>
                <div class="col-md-4">
                    <img alt="Bootstrap Image Preview" src="https://www.androidfreeware.net/img2/com-zdn35-music-songs-audio-thunderstormsoundsandrainsoundforsleep.jpg" class="rounded-circle" />
                </div>
                <div class="col-md-4">
                    <img alt="Bootstrap Image Preview" src="https://www.androidfreeware.net/img2/com-zdn35-music-songs-audio-thunderstormsoundsandrainsoundforsleep.jpg" class="rounded-circle" />
                </div>
            </div>
        </div>
    </div>
</div>